@charset "utf-8";


/* html5doctor.com/html-5-reset-stylesheet/ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
a { outline:none; text-decoration:none; }

body {
	min-width: 320px;
	background-color: #FFF;
	color: #2A2A2A;
	font: normal 100% Arial, Helvetica, sans-serif;

	-webkit-text-size-adjust: none;
}

img {
	max-width:100%;
}

@media screen and (max-width: 400px) {
	body {
		font-size: 90%;
	}
	#header-container {
		padding: 1.1em 1em 0.5em;
	}
	#container {
		padding: 1.5em 1em;
	}
	#content {
		margin: 4em 0 3em;
	}
	#posts li {
		padding: 2.5em 0 0;
	}
	#posts li:first-child {
		padding: 0.5em 0 1em;
	}
	#inquire {
		padding: 1.5em;
	}
	#error404 {
		background: url(/img/lost.jpg) no-repeat center center fixed; 
	 	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
	#error404-video {
		display: none;
	}

}

@media screen and (max-width: 820px) and (min-width: 400px) {
	body {
		font-size: 90%;
	}
	#header-container {
		padding: 1.1em 2em 0.5em;
	}
	#container {
		padding: 2em;
	}
	#content {
		margin: 4em 0 3em;
	}
	#posts li {
		padding: 2.5em 0 1em;
	}
	#posts li:first-child {
		padding: 0.5em 0 1em;
	}
	#inquire {
		padding: 2em;
	}
	#error404 {
		background: url(/img/lost.jpg) no-repeat center center fixed; 
	 	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
	#error404-video {
		display: none;
	}
}

@media screen and (min-width: 820px) {
	body {
		font-size: 100%;
	}
	#header-container {
		padding: 1.1em 2em 0.5em;
	}
	#container {
		padding: 2em;
	}
	#content {
		margin: 4em 0 4em;
	}
	#posts li {
		padding: 2.5em 0 1em;
	}
	#posts li:first-child {
		padding: 0.5em 0 1em;
	}
	#inquire {
		padding: 3em;
	}
	#error404-video {
		min-height: 100%;
		min-width: 100%;
		height: auto;
		width: auto;
		display: inline-block;
		overflow: hidden;
		position: fixed;
		right: 0;
		bottom: 0;
		background: url(/img/lost.jpg) no-repeat center center fixed; 
	 	-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}
}

h1 {
	font: normal 700 2.6em 'jaf-facitweb', Helvetica Neue, Arial, sans-serif;
	line-height: 1.2;
	letter-spacing: -0.02em;
}

h3 {
	font: normal 700 1.5em 'jaf-facitweb', sans-serif;
	line-height:1.3em;
	margin-top: 2em;
}

p {
	font: normal 300 1.3em 'rooney-sans', sans-serif;
	line-height: 1.7;
	margin: 1em 0 1.5em;
	letter-spacing: -0.02em;
}

a {
	color: inherit;
	text-decoration: underline;

	-webkit-transition: all 0.12s ease;
	-moz-transition: all 0.12s ease;
	transition: all 0.12s ease;
}

a:hover, a:focus {
	color: #5ED1BD;
}

.clear {
	clear: both;
}

#container {
	max-width: 36em;
	margin: 0 auto;
}

#header {
	width: 100%;
	min-width: 320px;
	position: fixed;
	background-color: rgba(249,249,249,0.96);
	background-image: url(/img/navbg.png);
	background-repeat: repeat-x;
	background-position: top;
	z-index: 100;

	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  	-o-box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  	box-shadow: 0 1px 0 rgba(0,0,0,0.06);
}

#header-container {
	max-width: 36em;
	margin: 0 auto;
}

#logo {
	float: left;
	background-image: url("/img/favicon.png");
	background-size: 28px;
	height: 28px;
	width: 28px;
	margin: -0.3em 1em -1em 0;
	
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}

#logo:hover {
	opacity: 0.7;

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

#nav {
	float: left;
}

#nav li {
	float: left;
}

#nav li a {
	padding: 1.8em 1.4em 1.6em;
	font: normal 700 0.7em 'jaf-facitweb', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color: #B2B2B2;
}

#nav li a.current {
	color: #2A2A2A;
	background-color: #F3F3F3;


	-webkit-box-shadow: inset 0 -3px 0 #5ED1BD, inset 0 -1px 1px #CCC;
  	-moz-box-shadow: inset 0 -3px 0 #5ED1BD, inset 0 -1px 1px #CCC;
  	-o-box-shadow: inset 0 -3px 0 #5ED1BD, inset 0 -1px 1px #CCC;
  	box-shadow: inset 0 -3px 0 #5ED1BD, inset 0 -1px 1px #CCC;
}

#nav li a:hover {
	color: #2A2A2A;
}

#hire {
	float: right;
	margin: -0.1em 0 0.6em;
}

#hire a {
	padding: 0.5em 1.3em 0.6em;
	font: normal 700 0.9em 'rooney-sans', Helvetica Neue, sans-serif;
	color:#FFF;
	background-image: linear-gradient(to bottom right, #5ED1BD, #3BB9A4);
	background-color: #5ED1BD;
	text-decoration: none;
	letter-spacing: 0.01em;

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1);
  	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1);
  	-o-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1);
  	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1);

  	-webkit-text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
  	-moz-text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
  	-o-text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
  	text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
}

#hire a:hover,
#hire a:focus {
	opacity: 0.6;
}

#content {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

#work li {
	margin-bottom: 8em;
	text-align: center;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#work li:last-child {
	margin-bottom: 6em;
}

#work h2 {
	font: normal 700 3em 'coquette', Helvetica Neue, Arial, sans-serif;
	line-height: 1.2em;
	letter-spacing: -0.0em;
}

#work p {
	font: normal 300 1.1em 'rooney-sans', sans-serif;
	color: #818181;
	max-width: 26em;
	line-height: 1.4;
	margin: 1em auto;
	letter-spacing: -0.02em;
}

.work-cta a {
	padding: 1em 2em;
	font: normal 700 1em 'rooney-sans', Helvetica Neue, sans-serif;
	color:#5ED1BD;
	border: 2px solid #5ED1BD;
	text-decoration: none;
	letter-spacing: 0.01em;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.work-cta a:hover,
.work-cta a:focus {
	color: #FFF;
	background-color: #5ED1BD;
}

#work img {
	display: block;
	margin: 2.4em auto 0;
}

#inquire {
	background-color: rgba(148,180,231,0.1);
	border-top: 4px solid #94B4E7;
	margin-bottom: 5em;

	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;

	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.15);
  	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.15);
  	-o-box-shadow: inset 0 0 1px rgba(0,0,0,0.15);
  	box-shadow: inset 0 0 1px rgba(0,0,0,0.15);
}

#inquire h3 {
	font-size: 1.8em;
	margin-top: 0;
}

#inquire p {
	line-height: 1.4;
}

#inquire a {
	font: normal 700 1.2em 'rooney-sans', Helvetica Neue, sans-serif;
	background-image: linear-gradient(to bottom right, #94B4E7, #6C93D2);
	background-color: #94B4E7;
	color: #FFF;
	padding: 1em 2em 1.05em;
	text-decoration: none;
	letter-spacing: 0.01em;
	display: block;
	text-align: center;

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;

	-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
  	-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
  	-o-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
  	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);

  	-webkit-text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
  	-moz-text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
  	-o-text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
  	text-shadow: -1px 1px 0 rgba(0,0,0,0.1);
}

#inquire a:hover,
#inquire a:focus {
	opacity: 0.6;
}

#posts {
	padding-bottom: 3em;
	text-align: center;
}

#posts li {
	border-bottom: 1px solid #EEE;
}

#posts li:first-child {
	
}

#posts a,
#next-article a {
	font: normal 700 1.5em 'jaf-facitweb', sans-serif;
	line-height: 1.3em;
	letter-spacing: -0.01em;
	text-decoration: none;
}

#posts p {
	font: normal 300 1.1em 'rooney-sans', sans-serif;
	line-height: 1.5;
	margin: 0.15em 0 1.5em;
	letter-spacing: -0.02em;
	color: #919191;
}

#posts li div {
	font: normal 300 0.7em 'jaf-facitweb', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: #B5B5B5;
	margin-bottom: 1.5em;
}

#more {
	font-size: 1em;
	line-height: 1.5;
	text-align: center;
	margin: 0;
}

.post-meta {
	font: normal 300 1.1em 'jaf-facitweb', sans-serif;
	color: #818181;
	padding: 1.5em 0 1em;
}

.post-meta span {
	font-size: 0.8em;
	padding: 0 0.5em 0 2em;
	color: #A1A1A1;
}

article h1 {
	font: normal 700 2.7em 'jaf-facitweb', sans-serif;
	line-height:1.3em;
}

article h3 {
	font: normal 700 1.5em 'jaf-facitweb', sans-serif;
	line-height:1.3em;
	margin-top: 2em;
}

article img {
	margin: 1em 0 1.5em;
}

article p {
	font: normal 300 1.3em 'rooney-sans', sans-serif;
	color: #2A2A2A;
	line-height: 1.7;
	margin: 1em 0 1.5em;
	letter-spacing: -0.02em;
}

article p strong {
	font-weight: 700;
}

article ul {
	font: normal 700 1.2em 'rooney-sans', sans-serif;
	color: #333;
	line-height: 1.5;
	margin: 1em 0 1.8em 0;
}

article ul li {
	margin: 0.5em 0;
}

#comment {
	font: normal 300 1.1em 'jaf-facitweb', sans-serif;
	color: #555;
	line-height: 1.5;
	border-top: 1px solid #EEE;
	padding: 2em 0 0;
	margin: 4em 0 3em;
	letter-spacing: -0.01em;
	text-align: center;
}

#next-article {
	text-align: center;
}

#next-article div {
	font: normal 300 0.8em 'jaf-facitweb', sans-serif;
	color: #B2B2B2;
	margin: 3em 0 1.5em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

#next-article a {
	font-size: 2em;
}

#error404-cover {
	background-size: 100%;
	background-color: rgba(44,91,166,0.35);
	position: fixed !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#error404-content {
	text-align: center;
	color: #FFF;
	padding: 0 1em;
	position:fixed !important;
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;
}

#error404 h1 {
	font: normal 700 3em 'jaf-facitweb', sans-serif;
	margin-bottom: 1.4em;
}

#error404 a {
	padding: 1em 2em;
	font: normal 700 1em 'rooney-sans', Helvetica Neue, sans-serif;
	color: #FFF;
	background-color: rgba(255,255,255,0.25);
	border: 2px solid #FFF;
	text-decoration: none;
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

#error404 a:hover,
#error404 a:focus {
	color: #777;
	background-color: #FFF;
}