/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  padding: 2em 0;
}

.me {
  display: block;
  height: 70px;
  width: 70px;
  background: url(/images/me@2x.png) no-repeat center center;
  background-size: 70px 70px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;

  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
}

.me:hover,
.me:focus {
  -moz-box-shadow: 0 0 0 5px #FFF, 0 0 0 8px #00A8E8;
  -webkit-box-shadow: 0 0 0 5px #FFF, 0 0 0 8px #00A8E8;
  box-shadow: 0 0 0 5px #FFF, 0 0 0 8px #00A8E8;
}

@media (min-width: 1000px) {
  .sticky {
    position: fixed;
  }
}

header ul {
	display: table;
	margin: 1.5rem auto 1rem;
}

header ul li {
	display: inline-block;
	font-size: 2.5rem;
}

header ul li a {
	padding: 1rem 0;
	margin: 0 2rem;
  text-decoration: none;
  color: #8D99AE;
}

header ul li a:hover {
  color: #2B2D42;
}

header ul li a.current {
  color: #2B2D42;
  border-bottom: 3px solid #00A8E8;
}

footer {
  padding: 3em 1em 2em;
  margin-top: 4em;
  font-size: 14px;
  text-align: center;
  background-color: #2B2D42;
  color: rgba(255, 255, 255, 0.5);
}

footer a {
  margin: 0 auto;
  display: block;
  height: 70px;
  width: 70px;
  background: url(/images/logo-footer@2x.png) no-repeat center center;
  background-size: 70px 70px;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
}

footer a:hover {
  height: 70px;
  width: 70px;
  background: url(/images/logo@2x.png) no-repeat center center;
  background-size: 70px 70px;
}

footer p {
  margin-top: 3em;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

mark {
  color: #2B2D42;
}

.crisp {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: -0.01rem;
  word-spacing: 0.15rem;

}


/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.offer {
  padding-left: 2em;
}

@media (max-width: 750px) {
  .offer {
    padding-left: 0;
  }
}

.offer img {
  margin-bottom: 1em;
}

.offer p {
  font-size: 16px;
  color: #8D99AE;
}


/* Work
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.work {
  margin-bottom: 3em;
  overflow: hidden;
}

.screenshot {
  padding: 2em;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

@media (max-width: 400px) {
  .screenshot {
    padding: 1em;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
  }
}

.screenshot img {
  padding-bottom: 2em;
  margin-left: 4%;
}

@media (max-width: 750px) {
  .screenshot img {
    padding-bottom: 2em;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .screenshot img {
    padding-bottom: 1em;
    margin-left: 0;
  }
}

.info {
  padding: 2em;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
  background-color: #EDF2F4;

  -moz-box-shadow: 1px 0 0 #EDF2F4;
  -webkit-box-shadow: 1px 0 0 #EDF2F4;
  box-shadow: 1px 0 0 #EDF2F4;
}

@media (max-width: 400px) {
  .info {
    padding: 1em;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
    background-color: #EDF2F4;

    -moz-box-shadow: 1px 0 0 #EDF2F4;
    -webkit-box-shadow: 1px 0 0 #EDF2F4;
    box-shadow: 1px 0 0 #EDF2F4;
  }
}

.info p {
  font-size: 16px;
}

.info p:last-child {
  padding-bottom: 1em;
}

.info a {
  padding: 1em;
  margin-bottom: 2em;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #8D99AE;
  display: block;
  border: 1px solid #8D99AE;
}

.info a:hover, #barkly .info a:focus {
  color: #FFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);

  -webkit-transform: scale(1.05);
  -moz-transform:    scale(1.05);
  -ms-transform:     scale(1.05);
  -o-transform:      scale(1.05);
  transform:         scale(1.05);
}

.tags {
  margin-bottom: 10px;
  font-size: 14px;
  color: #8D99AE;
}

#barkly {
  background-color: #1197CC;
}

#barkly .info a:hover, #barkly .info a:focus {
  background-color: #1197CC;
  border: 1px solid #1197CC;
}

#hubspot {
  background-color: #F67600;
}

#hubspot .info a:hover, #hubspot .info a:focus {
  background-color: #F67600;
  border: 1px solid #F67600;
}

#appcues {
  background-color: #4BAAD3;
}

#appcues .info a:hover, #appcues .info a:focus {
  background-color: #4BAAD3;
  border: 1px solid #4BAAD3;
}

#grapevine {
  background-color: #3BAAA6;
}

#grapevine .info a:hover, #grapevine .info a:focus {
  background-color: #3BAAA6;
  border: 1px solid #3BAAA6;
}

#dispatch {
  background-color: #28BFEF;
}

#dispatch .info a:hover, #dispatch .info a:focus {
  background-color: #28BFEF;
  border: 1px solid #28BFEF;
}

#onmyway {
  background-color: #6262C8;
}

#onmyway .info a:hover, #onmyway .info a:focus {
  background-color: #6262C8;
  border: 1px solid #6262C8;
}

#cast {
  background-color: #D86DAA;
}

#cast .info a:hover, #cast .info a:focus {
  background-color: #D86DAA;
  border: 1px solid #D86DAA;
}

#hero {
  background-color: #4A90E2;
}

#chill {
  background-image: linear-gradient(to bottom right, #F18591, #FC6F51);
}

#chill .info a:hover, #chill .info a:focus {
  background-color: #F18591;
  border: 1px solid #F18591;
}

#moonlite {
  background: url(/images/constellation.png) left 10% top 20px no-repeat, url(/images/trees.png) left 10% bottom no-repeat, #444B6E;
  background-size: 50%;
}

#moonlite .info a:hover, #moonlite .info a:focus {
  background-color: #444B6E;
  border: 1px solid #444B6E;
}


/* Blog listing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.blog {
  max-width: 32em;
  margin: 0 auto;
}

.blog ul {
  list-style: none;
}

.blog ul li {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #EDF2F4;
}

.blog ul li:last-child {
  border-bottom: none;
}

.title {
  text-decoration: none;
}

.title h3 {
  font-weight: 400;
}

.blog ul li div {
  margin-bottom: 10px;
  font-size: 14px;
  color: #8D99AE;
}


/* Blog post
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.post-header {
  text-align: center;
  max-width: 46em;
  margin: 0 auto;
}

time {
  font-style: italic;
  letter-spacing: 0.05em;
  color: #8D99AE;
}

article h1 {
  margin: 1em 0;
  font-size: 3.5em;
  font-weight: 400;
}

@media (max-width: 550px) {
  article h1 {
    font-size: 2em;
  }
}

article h2 {
  margin: 2em 0 0.75em;
  font-size: 2em;
  font-weight: 400;
}

.post-header img {
  margin-bottom: 2em;
  width: 32em;
}

.post-body img {
  margin-bottom: 2em;
  max-width: 32em;
}

.post-body {
  max-width: 32em;
  margin: 1em auto 2em;
}

.post-body p:first-child:first-letter {
  float: left;
  font-weight: 700;
  font-size: 5.5em;
  line-height: 60px;
  padding: 6px 10px 0 0;
}

.fin {
  height: 12px;
  width: 8px;
  margin-left: 0.4em;
  margin-bottom: 0 !important;
}

.post-follow {
  max-width: 32em;
  margin: 0 auto 1em;
  padding-top: 2em;
  border-top: 1px solid #EDF2F4;
}


/* 404
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#error404 {
	background: url(/images/nowhere.jpg) no-repeat center center fixed;

 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#video {
	display: none;
}

@media (min-width: 750px) {
	#video {
		min-height: 100%;
		min-width: 100%;
		height: auto;
		width: auto;
		display: inline-block;
		overflow: hidden;
		position: fixed;
		right: 0;
		bottom: 0;
		background: url(/images/nowhere.jpg) no-repeat center center fixed;

	 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}
}

#video-content {
	text-align: center;
	color: #FFF;
	padding: 0 1em;
	position:fixed !important;
	top: 15%;
	right: 0;
	bottom: 0;
	left: 0;
}

#error404 h1 {
	font-size: 4rem;
	margin-bottom: 1.4em;
	line-height: 1.2em;
  letter-spacing: 0;

	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,0.15);
	text-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

#error404 a {
	color: #FFF;
	background-color: rgba(255,255,255,0.25);
	border: 2px solid #FFF;

  -webkit-text-shadow: none;
	-moz-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}

#error404 a:hover,
#error404 a:focus {
	color: #00A8E8;
	background-color: #FFF;
}
