@charset "utf-8";


/* html5doctor.com/html-5-reset-stylesheet/ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; } 
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }
a { outline:none; text-decoration:none; }

body {
	min-width: 320px;
	background-color: #FFF;
	color: #2A2A2A;
	font: normal 100% Arial, Helvetica, sans-serif;

	-webkit-text-size-adjust: none;
}

img {
	max-width:100%;
}

@media screen and (max-width: 400px) {
	body {
		font-size: 90%;
	}
	#container {
		padding: 1.5em 1em;
	}
	#content {
		margin: 2em 0;
	}
	#posts li {
		padding: 2em 0 0;
	}
}

@media screen and (max-width: 520px) and (min-width: 400px) {
	body {
		font-size: 90%;
	}
	#container {
		padding: 2em;
	}
	#content {
		margin: 3em 0;
	}
	#posts li {
		padding: 3em 0 1em;
	}
}

@media screen and (min-width: 520px) {
	body {
		font-size: 100%;
	}
	#container {
		padding: 2em;
	}
	#content {
		margin: 3em 0;
	}
	#posts li {
		padding: 3em 0 1em;
	}
}

h1 {
	font: normal 700 2.6em 'jaf-facitweb', Helvetica Neue, Arial, sans-serif;
	line-height: 1.2;
	letter-spacing: -0.02em;
}

h3 {
	font: normal 700 1.5em 'jaf-facitweb', sans-serif;
	line-height:1.3em;
	margin-top: 2em;
}

p {
	font: normal 300 1.3em 'rooney-sans', sans-serif;
	line-height: 1.7;
	margin: 1em 0 1.5em;
	letter-spacing: -0.02em;
}

a {
	color: inherit;
	text-decoration: underline;

	-webkit-transition: all 0.12s ease;
	-moz-transition: all 0.12s ease;
	transition: all 0.12s ease;
}

a:hover, a:focus {
	color: #5ED1BD;
}

.clear {
	clear: both;
}

#container {
	max-width: 36em;
	margin: 0 auto;
}

#nav {
	float: left;
}

#nav li {
	float: left;
}

#nav li a {
	padding: 0.6em 0.8em;
	font: normal 700 1.1em 'jaf-facitweb', sans-serif;
	text-decoration: none;
	color: #B2B2B2;
}

#nav li:first-child a {
	padding-left: 0;
}

#nav li a.current {
	color: #2A2A2A;
}

#nav li a:hover {
	color: #2A2A2A;
}

#social {
	float: right;
}

#social li {
	display: inline-block;
}

#social li a {
	padding: 0.6em;
	font-size: 1.5em;
	text-decoration: none;
	vertical-align: middle;
}

#twitter a {
	color:#00ACED;
}

#dribbble a {
	color:#EA4C89;
}

#social li a:hover,
#social li a:focus {
	opacity: 0.6;
}

#content {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

#work li {
	margin-bottom: 8em;
	text-align: center;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#work li:last-child {
	margin-bottom: 6em;
}

#work h2 {
	font: normal 700 3em 'coquette', Helvetica Neue, Arial, sans-serif;
	line-height: 1.2em;
	letter-spacing: -0.0em;
}

#work p {
	font: normal 300 1.1em 'rooney-sans', sans-serif;
	color: #818181;
	max-width: 26em;
	line-height: 1.4;
	margin: 1em auto 3em;
	letter-spacing: -0.02em;
}

.work-cta a {
	padding: 1em 2em;
	font: normal 700 1em 'rooney-sans', Helvetica Neue, sans-serif;
	color:#5ED1BD;
	border: 2px solid #5ED1BD;
	text-decoration: none;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.work-cta a:hover,
.work-cta a:focus {
	color: #FFF;
	background-color: #5ED1BD;
}

#work img {
	display: block;
	margin: 4em auto 0;
}

#posts {
	padding-bottom: 3em;
}

#posts li {
	border-top: 1px solid #EEE;
}

#posts li:last-child {
	border-bottom: 1px solid #EEE;
}

#posts a,
#next-article a {
	font: normal 700 1.5em 'jaf-facitweb', sans-serif;
	line-height: 1.3em;
}

#posts p {
	font: normal 300 1.2em 'rooney-sans', sans-serif;
	line-height: 1.5;
	margin: 0.5em 0 1.5em;
	letter-spacing: -0.02em;
	color: #818181;
}

#more {
	font-size: 1em;
	line-height: 1.5;
	margin: 0;
}

#article-nav {
	margin-bottom:3em;
}

#all-posts {
	float:left;
}

#toggle {
	float:right;
}

#all-posts a,
#toggle a {
	padding:0.7em 1.2em 0.5em;
	font-size:1em;
	color:#5ED1BD;
	border: 2px solid #5ED1BD;
	text-decoration: none;
	vertical-align: middle;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition: all 0.12s ease;
	-moz-transition: all 0.12s ease;
	transition: all 0.12s ease;
}

#toggle a:first-child {
	margin-right:1em;
}

#all-posts a:hover,
#all-posts ul li a:focus,
#toggle a:hover,
#toggle ul li a:focus {
	color: #FFF;
	background-color:#5ED1BD;
}

.post-meta {
	font: normal 300 1.2em 'jaf-facitweb', sans-serif;
	color: #818181;
	padding: 1.5em 0 1em;
}

.post-meta span {
	font-size: 0.8em;
	padding: 0 1em 0 2em;
	color: #CCC;
}

article h1 {
	font: normal 700 3em 'jaf-facitweb', sans-serif;
	line-height:1.3em;
}

article h3 {
	font: normal 700 1.5em 'jaf-facitweb', sans-serif;
	line-height:1.3em;
	margin-top: 2em;
}

article img {
	margin: 1em 0 2em;
}

article p {
	font: normal 300 1.3em 'rooney-sans', sans-serif;
	color: #2A2A2A;
	line-height: 1.7;
	margin: 1em 0 1.5em;
	letter-spacing: -0.02em;
}

article p strong {
	font-weight: 700;
}

article ul {
	font: normal 700 1.2em 'rooney-sans', sans-serif;
	color: #333;
	line-height: 1.5;
	margin: 1em 0 1.8em 0;
}

article ul li {
	margin: 0.5em 0;
}

#comment {
	font: normal 300 1.1em 'jaf-facitweb', sans-serif;
	color: #555;
	line-height: 1.5;
	border-top: 1px solid #EEE;
	padding: 2em 0 0;
	margin: 4em 0 3em;
	letter-spacing: -0.01em;
}

#next-article div {
	font: normal 700 0.7em 'jaf-facitweb', sans-serif;
	color: #B2B2B2;
	margin: 3em 0 1.6em;
	letter-spacing: 0.2em;
	text-transform: uppercase;	
}

#error404 {
	background: url(../img/lost.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#error404-cover {
	background-size: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#error404-content {
	text-align: center;
	color: #FFF;
	padding: 0 1em;
	position:fixed !important;
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;
}

#error404 h1 {
	font: normal 700 3em 'jaf-facitweb', sans-serif;
	margin-bottom: 1.4em;
}

#error404 a {
	padding: 1em 2em;
	font: normal 700 1em 'rooney-sans', Helvetica Neue, sans-serif;
	color: #FFF;
	border: 2px solid #FFF;
	text-decoration: none;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

#error404 a:hover,
#error404 a:focus {
	color: #777;
	background-color: #FFF;
}

/*******  Legal Mumbo Jumbo *******/

#intro {
	color: #818181;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 2em;
}

.legal h1 {
	font-size: 2em;
	padding-top: 1em;
}

.legal h3 {
	font-size: 1.1em;
}

.legal p {
	font-size: 1.1em;
	line-height: 1.6em;
}